<h1>Activities</h1>
<% if (viewData?.events?.length) { %> <b> Activities shown: <%= viewData.events.length %> </b> <% } %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Action Name:</th>
      <th>Created at:</th>
      <th>Target title:</th>
      <th>Target type:</th>
    </tr>
  </thead>
  <tbody>
    <% if (viewData?.events?.length) { %> <% for (const event of viewData.events) { %>
    <tr>
      <td class="w-15"><%= event.action_name %></td>
      <td class="w-15"><%= event.created_at.slice(0, 10) %></td>
      <td class="w-55"><%= event.target_title %></td>
      <td class="w-15"><%= event.target_type %></td>
    </tr>
    <% } %> <% } else { %>
    <tr>
      <td colspan="3" class="text-center text-danger">There are no activities to display</td>
    </tr>
    <% } %>
  </tbody>
</table>
