<h1>Group Projects</h1>
<% if (viewData?.groups?.nodes?.length) { %>
<div class="container" style="margin-bottom: 1rem">
  <% for (const group of viewData.groups.nodes) { %>
  <div class="card" style="margin-bottom: 1rem">
    <div class="card-body">
      <div style="display: flex">
        <% if (group.avatarUrl) { %>
        <img src="<%= group.avatarUrl %>" width="30px" alt="avatar" />
        <% } %>
        <h5 class="card-title"><a href="<%= group.webUrl %>"><%= group.name %></a></h5>
      </div>
      <p class="card-text"><%= group.fullPath %></p>

      <% if (group.projects?.nodes?.length) { %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project:</th>
            <th>Last Commit:</th>
            <th>Commited by:</th>
          </tr>
        </thead>
        <tbody>
          <% for (const project of group.projects.nodes) { %>
          <tr>
            <td class="w-50">
              <div style="display: flex">
                <% if (project.avatarUrl) { %>
                <img src="<%= project.avatarUrl %>" width="30px" alt="avatar" />
                <% } %>
                <a href="<%= project.webUrl %>"><%= project.name %></a>
              </div>
              <p><%= group.fullPath %><%= project.path %></p>
            </td>
            <td class="w-20"><%= project.repository.tree.lastCommit.authoredDate.slice(0, 10)%></td>
            <td class="w-30">
              <div style="display: flex; align-items: center; gap: 5px">
                <img
                  src="<%= project.repository.tree.lastCommit.authorGravatar %>"
                  width="30px"
                  height="30px"
                  alt="avatar"
                />
                <div>
                  Username: <%= project.repository.tree.lastCommit.author.username %> <br />
                  Name: <%=project.repository.tree.lastCommit.author.name %>
                </div>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% if (group.projects.pageInfo.hasNextPage) { %>
      <b>There are more projects...</b>
      <% } %>
    </div>
    <% } else { %>
    <b> There are no projects to display </b>
    <% } %>
  </div>
  <% } %> <% if (viewData.groups.pageInfo.hasNextPage) { %>
  <b>There are more groups...</b>
  <% } %>
</div>

<% } else { %>
<b> There are no groups to display </b>
<% } %>
